<footer class="bg-gray-800 text-white mt-12">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div>
                <h3 class="text-lg font-semibold mb-4">Contact Us</h3>
                <p>Email: <a href="mailto:seth.d.beebe@gmail.com">seth.d.beebe@gmail.com</a></p>
                <p class="inline-flex items-center space-x-1">
                    <span>Addr: </span>
                    <address class="inline">30 Esterbrooke Ave</address>
                </p>
            </div>
            <div>
                <h3 class="text-lg font-semibold mb-4">Quick Links</h3>
                <ul>
                    <li><a href="/" class="hover:text-indigo-300">Home</a></li>
                    <li><a href="/#latest-events" class="hover:text-indigo-300">Events</a></li>
                    <li><a href="https://www.zeffy.com/en-CA/donation-form/b2baf3ad-7b71-4768-877b-d828ac707d76" class="hover:text-indigo-300">Sponsor Us</a></li>
                </ul>
            </div>
            <div>
                <h3 class="text-lg font-semibold mb-4">Follow Us</h3>
                <div class="flex space-x-4">
                    <ul>
                    <li><a href="#" class="hover:text-indigo-300">Instagram</a></li>
                        <li><a href="#" class="hover:text-indigo-300">Facebook</a></li>                            
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-8 border-t border-gray-700 pt-8 text-center">
            <p>&copy; <%= new Date().getFullYear() %> Seneca Discipleship Church. All rights reserved.</p>
            <p class="mt-4">
                Designed by <a href="https://www.linkedin.com/in/coca4017/" class="text-white hover:text-indigo-300">coca4017</a>
            </p>
        </div>
    </div>
</footer>
</body>
</html>